
<div data-role="collapsible" id="sensors-box" data-inset="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
	<legend>Sensors</legend>
	<ul data-role="listview" data-dividertheme="b">
	<% settings.sensors.each do |sensor, options| %>
		<li>
			<%= options['label'] %>: <span id="sensor-<%= sensor %>"></span><%= options['unit'] %>
		</li>
	<% end %>
	</ul>
</div>

<ul data-role="listview" data-inset="true" data-dividertheme="b">
        <li data-role="list-divider">Current mode</li>
	<% settings.channels.each do |channel, options| %>
		<li>
			<h4><%= options["label"] %></h4>
			<form id=<%= channel %>>
				<fieldset data-role="controlgroup" data-type="horizontal" >
					<% options["modes"].each do |mode| %>
						<input id="<%= channel %>-<%= mode %>" value="list" type="radio">
						<label for="<%= channel %>-<%= mode %>"><%= mode.capitalize %></label>
					<% end %>
					<input id="<%= channel %>-auto" value="list" type="radio">
					<label for="<%= channel %>-auto">Auto</label>
				</fieldset>
				<label for="<%= channel %>-persistent">Persistent override:</label>
				<input data-role="flipswitch" id="<%= channel %>-persistent" type="checkbox">
			</form>
		</li>
	<% end %>
</ul>


