<html>
<head>
	<link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<%= css :app, :media => 'screen' %>

	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script> 
	<script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<% # Ugly hack to get template name is order to load associated js %>
	<%= js template_cache.instance_variable_get(:@cache).first.first[1] %>

	<title><%= settings.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div data-role="page" data-theme="a">
	<div data-role="header">
		<a href="#" id="refresh" data-icon="refresh" data-iconpos="notext" >Refresh</a>
		<h1><%= settings.title %></h1>
	</div>
	<div data-role="content">
		<%= yield %>
	</div>
	<div data-role="footer">
		<h4>Heatman system</h4>
	</div>
</div>

</body>
</html>
