<html>
<head>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
	<link rel="stylesheet" href="<%= to("/static/css/jqm-datebox-1.4.5.min.css", absolute=false) %>">
	<%= css :app, :media => 'screen' %>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
	<script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>

	<script src="<%= to("/static/js/jqm-datebox-1.4.5.core.min.js", absolute=false) %>"></script>
	<script src="<%= to("/static/js/jqm-datebox-1.4.5.mode.flipbox.min.js", absolute=false) %>"></script>

	<%= js :app %>

	<title><%= settings.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div data-role="page" data-theme="a">
	<div data-role="header">
		<a href="#" id="refresh" data-icon="refresh" data-iconpos="notext" >Refresh</a>
		<h1><%= settings.title %></h1>
	</div>
	<div data-role="content">
		<%= yield %>
	</div>
	<div data-role="footer">
		<h4>Heatman system</h4>
	</div>
</div>

</body>
</html>
